{% extends "admin/layout.html.twig" %}

{% block title %}会場一覧{{ parent() }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/web/jquery-multi-select/multi-select.css">
  <link rel="stylesheet" href="/web/jquery-ui-1.12.1/jquery-ui.min.css">
  {{ parent() }}
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="active"><a href="/admin">Home</a></li>
    <li class="active">会場一覧</li>
  </ol>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a onclick="history.back()"><span aria-hidden="true">&larr;</span>戻る</a></li>
    </ul>
  </nav>

  <h4 class="page-header">会場一覧</h4>

  <div style="width:100%;height:300px;overflow:auto;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th style="width:30%">会場名</th>
          <th style="width:25%">住所</th>
          <th style="width:40%">URL</th>
        </tr>
      </thead>
      <tbody>
        {% for place in places %}
          <tr data-href="{{ place.id }}" style="cursor:pointer;">
            <td>{{ place.id }}</td>
            <td>{{ place.name }}</td>
            <td>{{ place.prefecture }}{{ place.address1 }}{{ place.address2 }}</td>
            <td>
              {% if place.url %}
                <a href="{{ place.url }}" target="_blank" class="url">{{ place.url|slice(0, 30) }}...</a>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary button-center add" data-toggle="modal" data-target="#placeAddModal" style="font-size: 14px">
    会場を追加する
  </button>

  <!-- 追加テンプレート読み込み -->
  {% include('admin/master/place/add.html.twig') %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/web/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="/web/jquery-ui-1.12.1/datepicker-ja.js"></script>
  <script src="/web/jquery-multi-select/jquery.multi-select.js"></script>
  <script src="/web/js/admin/master/place/index.js"></script>
  <script src="/web/js/admin/master/place/add.js"></script>
  <script>
    $( function() {
      // jQuery UI datepicker
      $( ".datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
      });;

      // jQuery multiselect
      $('#pre-selected-options').multiSelect();
    });
  </script>
{% endblock %}
