{% extends "admin/layout.html.twig" %}

{% block title %}カテゴリ一覧{{ parent() }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/web/jquery-multi-select/multi-select.css">
  <link rel="stylesheet" href="/web/jquery-ui-1.12.1/jquery-ui.min.css">
  {{ parent() }}
{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="active"><a href="/admin/">Home</a></li>
    <li class="active">カテゴリ一覧</li>
  </ol>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a onclick="history.back()"><span aria-hidden="true">&larr;</span>戻る</a></li>
    </ul>
  </nav>

  <h4 class="page-header">カテゴリ一覧</h4>

  <div style="width:100%;height:300px;overflow:auto;">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width:5%">#</th>
          <th style="width:68%">カテゴリ名</th>
          <th style="width:12%">更新日</th>
          <th style="width:15%">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
          <tr data-href="{{ category.id }}">
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.update_at|date('Y-m-d') }}</td>
            <td>
              <button class="btn btn-default btn-sm edit" value="{{ category.id }}" style="margin:auto;" data-toggle="modal" data-target="#categoryEditModal">編集</button>
              <button type="button" class="btn btn-primary btn-sm delete-category" data-toggle="modal" data-target="#categoryDeleteModal">
                削除
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary button-center add" data-toggle="modal" data-target="#categoryAddModal" style="font-size: 14px">
    カテゴリを追加する
  </button>

  <!-- 追加・削除テンプレート読み込み -->
  {% include('admin/master/category/add.html.twig') %}
  {% include('admin/master/category/edit.html.twig') %}
  {% include('admin/master/category/delete.html.twig') %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/web/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="/web/jquery-ui-1.12.1/datepicker-ja.js"></script>
  <script src="/web/jquery-multi-select/jquery.multi-select.js"></script>
  <script src="/web/js/admin/master/category/index.js"></script>
  <script src="/web/js/admin/master/category/add.js"></script>
  <script>
    $( function() {
      // jQuery UI datepicker
      $( ".datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
      });;

      // jQuery multiselect
      $('#pre-selected-options').multiSelect();
    });
  </script>
{% endblock %}
