{% extends "admin/layout.html.twig" %}

{% block title %}イベント詳細画面{{ parent() }}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="/web/jquery-multi-select/multi-select.css">
  <link rel="stylesheet" href="/web/jquery-ui-1.12.1/jquery-ui.min.css">
  {{ parent() }}
{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="active"><a href="/admin/">Home</a></li>
    <li class="active"><a href="/admin/event/">イベント一覧</a></li>
    <li class="active">イベント詳細</li>
  </ol>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a onclick="history.back()"><span aria-hidden="true">&larr;</span>戻る</a></li>
    </ul>
  </nav>

  <h4 class="page-header">イベント詳細画面</h4>
  <form action="edit.php" method="post" class="form-horizontal" onsubmit="return false">
    <div class="btn-centering">
      <button type="button" class="btn btn-default btn-lg edit-event" data-toggle="modal" data-target="#eventEditModal" style="font-size: 14px">
        編集する
      </button>
      <button type="button" class="btn btn-primary btn-lg delete-event" data-toggle="modal" data-target="#eventDeleteConfirmModal" style="font-size: 14px">
        削除する
      </button>
    </div>

    <table>
      <input type="hidden" id="id" value="{{ event.id }}">
      <tbody>
        <tr>
          <th>イベント名</th>
          <td>
            {{ event.event_name }}
            <input type="hidden" id="eventName" name="eventName" class="form-control" value="{{ event.event_name }}">
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td>
            {% if eventCategories|length != 0 %}
              {% for eventCategory in eventCategories %}
                {% for category in categories%}
                  {% if eventCategory.category_id == category.id %}
                    {{ category.name }}
                    <input type="hidden" id="{{ category.id }}" name="categoriesId[]" value="{{ category.name }}">
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% else %}
              -
            {% endif %}

            {# 編集用にhiddenで値一覧を保持しておく #}
            {% for category in categories %}
              <input type="hidden" name="editCategories" id="{{ category.id }}" value="{{ category.name }}">
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>開催日</th>
          <td>
            {{ event.date_from|date('Y-m-d') }}
            <input type="hidden" name="dateFrom" class="form-inline datepicker" value="{{ event.date_from|date('Y-m-d') }}">
          </td>
        </tr>
        <tr>
          <th>最終日</th>
          <td>
            {{ event.date_to|date('Y-m-d') }}
            <input type="hidden" name="dateTo" class="form-inline datepicker" value="{{ event.date_to|date('Y-m-d') }}">
          </td>
        </tr>
        <tr>
          <th>入場料</th>
          <td>
            {{ event.entry_fee }}
            <input type="hidden" name="entryFee" class="form-control" value="{{ event.entry_fee }}">
          </td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>
            {{ event.business_time }}
            <input type="hidden" name="businessTime" class="form-control" value="{{ event.business_time }}">
          </td>
        </tr>
        <tr>
          <th>休館日</th>
          <td>
            {{ event.closing_days }}
            <input type="hidden" name="closingDays" class="form-control" value="{{ event.closing_days }}">
          </td>
        </tr>
        <tr>
          <th>開催場所</th>
          <td>
            {% for place in places %}
              {% if place.id == event.place_id %}
                {{ place.name }}
                <input type="hidden" name="placeId" value="{{ place.id }}">
              {% endif %}
            {% endfor %}
            {# 編集用に値一覧を保持しておく #}
            {% for place in places %}
              <input type="hidden" name="editPlaceList" id="{{ place.id }}" value="{{ place.name }}">
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>詳細URL</th>
          <td>
            {% if event.url %}
              {{ event.url }}
              <input type="hidden" name="url" class="form-control" value="{{ event.url }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>詳細情報</th>
          <td>
            {% if event.comment %}
              {{ event.comment }}
              <input type="hidden" name="comment" class="form-control" value="{{ event.comment }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            {% set statusCount = 0 %}
            {% if event.new %}
              新着
              <input type="hidden" id="new" name="status" value="{{ event.new }}">
              {% set statusCount = statusCount + 1 %}
            {% endif %}
            {% if event.popular %}
              人気
              <input type="hidden" id="popular" name="status" value="{{ event.popular }}">
              {% set statusCount = statusCount + 1 %}
            {% endif %}
            {% if event.pickup %}
              注目
              <input type="hidden" id="pickup" name="status" value="{{ event.pickup }}">
              {% set statusCount = statusCount + 1 %}
            {% endif %}
            {% if statusCount == 0 %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>メイン画像</th>
          <td>
            {% if event.main_image_path %}
              <img src="{{ event.main_image_path }}" alt="">
              <input type="hidden" name="mainImagePath" value="{{ event.main_image_path }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>リスト画像</th>
          <td>
            {% if event.list_image_path %}
              <img src="{{ event.list_image_path }}" alt="">
              <input type="hidden" name="listImagePath" value="{{ event.list_image_path }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="btn-centering">
      <button type="button" class="btn btn-default btn-lg edit-event" data-toggle="modal" data-target="#eventEditModal" style="font-size: 14px">
        編集する
      </button>
      <button type="button" class="btn btn-primary btn-lg delete-event" data-toggle="modal" data-target="#eventDeleteConfirmModal" style="font-size: 14px">
        削除する
      </button>
    </div>
  </form>

  <!-- 編集・削除テンプレート読み込み -->
  {% include('admin/event/edit.html.twig') %}
  {% include('admin/event/delete.html.twig') %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/web/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  <script src="/web/jquery-ui-1.12.1/datepicker-ja.js"></script>
  <script src="/web/jquery-multi-select/jquery.multi-select.js"></script>
  <script src="/web/js/admin/event/edit.js"></script>
  <script src="/web/js/admin/event/delete.js"></script>
  <script>
    $( function() {
      // jQuery UI datepicker
      $( ".datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
      });;

      // jQuery multiselect
      $('#pre-selected-options').multiSelect();
    });
  </script>
{% endblock %}
