{% extends "admin/layout.html.twig" %}

{% block title %}イベント詳細画面{{ parent() }}{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="active">Home</li>
    <li class="active">イベント一覧</li>
    <li class="active">イベント詳細</li>
  </ol>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a onclick="history.back()"><span aria-hidden="true">&larr;</span>戻る</a></li>
    </ul>
  </nav>

  <h4 class="page-header">イベント詳細画面</h4>
  <form action="edit.php" method="post" class="form-horizontal" onsubmit="return false">
    <table>
      <tbody>
        <tr>
          <th>イベント名</th>
          <td>
            {{ event.event_name }}
            <input type="hidden" name="eventName" value="{{ event.event_name }}">
          </td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td>
            {% for eventCategory in eventCategories %}
              {% for category in categories%}
                {% if eventCategory.category_id == category.id %}
                  {{ category.name }}
                  <input type="hidden" name="categoriesId[]" value="{{ category.name }}">
                {% endif %}
              {% endfor %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>開催日</th>
          <td>
            {{ event.date_from|date('Y-m-d') }}
            <input type="hidden" name="dateFrom" value="{{ event.date_from }}">
          </td>
        </tr>
        <tr>
          <th>最終日</th>
          <td>
            {{ event.date_to|date('Y-m-d') }}
            <input type="hidden" name="dateTo" value="{{ event.date_to }}">
          </td>
        </tr>
        <tr>
          <th>入場料</th>
          <td>
            {{ event.entry_fee }}
            <input type="hidden" name="entryFee" value="{{ event.entry_fee }}">
          </td>
        </tr>
        <tr>
          <th>営業時間</th>
          <td>
            {{ event.business_time }}
            <input type="hidden" name="businessTime" value="{{ event.business_time }}">
          </td>
        </tr>
        <tr>
          <th>休館日</th>
          <td>
            {{ event.closing_days }}
            <input type="hidden" name="closingDays" value="{{ event.closing_days }}">
          </td>
        </tr>
        <tr>
          <th>開催場所</th>
          <td>
            {% for place in places %}
              {% if place.id == event.place_id %}
                {{ place.name }}
                <input type="hidden" name="placeId" value="{{ place.name }}">
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        <tr>
          <th>詳細URL</th>
          <td>
            {% if event.url %}
              {{ event.url }}
              <input type="hidden" name="url" value="{{ event.url }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>詳細情報</th>
          <td>
            {% if event.comment %}
              {{ event.comment }}
              <input type="hidden" name="comment" value="{{ event.comment }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            {% set statusCount = 0 %}
            {% if event.new %}
              新着 
              <input type="hidden" name="new" value="{{ event.new }}">
              {% set statusCount = statusCount + 1 %}
            {% endif %}
            {% if event.popular %}
              人気 
              <input type="hidden" name="popular" value="{{ event.popular }}">
              {% set statusCount = statusCount + 1 %}
            {% endif %}
            {% if event.pickup %}
              注目
              <input type="hidden" name="pickup" value="{{ event.pickup }}">
              {% set statusCount = statusCount + 1 %}
            {% endif %}
            {% if statusCount == 0 %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>メイン画像</th>
          <td>
            {% if event.main_image_path %}
              <img src="{{ event.main_image_path }}" alt="">
              <input type="hidden" name="mainImagePath" value="{{ event.main_image_path }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>リスト画像</th>
          <td>
            {% if event.list_image_path %}
              <img src="{{ event.list_image_path }}" alt="">
              <input type="hidden" name="listImagePath" value="{{ event.list_image_path }}">
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    
    <input type="submit" id="editEvent" class="btn btn-primary" value="編集する">
  </form>
  
{% endblock %}