{% extends "admin/layout.html.twig" %}

{% block title %}イベント一覧{{ parent() }}{% endblock %}

{% block body %}

  <ol class="breadcrumb">
    <li class="active">Home</li>
    <li class="active">イベント一覧</li>
  </ol>

  <nav aria-label="...">
    <ul class="pager">
      <li class="previous"><a onclick="history.back()"><span aria-hidden="true">&larr;</span>戻る</a></li>
    </ul>
  </nav>

  <h4 class="page-header">イベント一覧</h4>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active upcoming"><a href="">開催予定・開催中のイベント</a></li>
    <li role="presentation" class="past"><a href="">過去のイベント</a></li>
  </ul>

  <div style="width:100%;height:450px;overflow:auto;">

    <table id="upcomingEvents" class="table table-striped table-hover">
      <thead>
        <tr>
          <th style="width:3%">#</th>
          <th style="width:50%">イベント名</th>
          <th style="width:21.5%">開催期間</th>
          <th style="width:25.5%">詳細URL</th>
        </tr>
      </thead>
      <tbody>
        {% for event in upcomingEvents %}
          <tr data-href="{{ event.id }}" style="cursor:pointer;">
            <td>{{ event.id }}</td>
            <td>
              {% if event.new %}
                <span class="icon-new">new</span>
              {% endif %}
              {% if event.popular %}
                <span class="icon-popular">人気</span>
              {% endif %}
              {% if event.pickup %}
                <span class="icon-pickup">pickup</span>
              {% endif %}
              {{ event.event_name }}
            </td>
            <td>
              {{ event.date_from|date('Y-m-d') }} ~ {{ event.date_to|date('Y-m-d') }}
            </td>
            <td>
              {% if event.url %}
                <a href="{{ event.url }}" target="_blank" class="url">{{ event.url|slice(0, 30) }}...</a>
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table id="pastEvents" class="table table-striped table-hover">
        <thead>
          <tr>
            <th style="width:3%">#</th>
            <th style="width:50%">イベント名</th>
            <th style="width:21.5%">開催期間</th>
            <th style="width:25.5%">詳細URL</th>
          </tr>
        </thead>
        <tbody>
          {% for event in pastEvents %}
            <tr data-href="{{ event.id }}" style="cursor:pointer;">
              <td>{{ event.id }}</td>
              <td>
                {% if event.new %}
                  <span class="icon-new">new</span>
                {% endif %}
                {% if event.popular %}
                  <span class="icon-popular">人気</span>
                {% endif %}
                {% if event.pickup %}
                  <span class="icon-pickup">pickup</span>
                {% endif %}
                {{ event.event_name }}
              </td>
              <td>
                {{ event.date_from|date('Y-m-d') }} ~ {{ event.date_to|date('Y-m-d') }}
              </td>
              <td>
                {% if event.url %}
                  <a href="{{ event.url }}" target="_blank" class="url">{{ event.url|slice(0, 30) }}...</a>
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
  
  <button class="btn btn-primary button-center add"><a href="add.php" style="color:white;text-decoration:none;">イベントを追加する</a></button>

  <div id="modalTemplate">
    <p></p>
    <button class="btn btn-primary button-center"></button>
  </div>
  
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="/js/event.js"></script>
{% endblock %}
